.vertical-menu {
  width: 200px;
  float: left;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #aaa;
  color: white;
}

.container{
  width: auto;
  margin-left: 25%;

}
