<div class="vertical-menu">
  <button class="dropdown-item" href="javascript:void(0)" (click)="addArticle()">Ajouter</button>
  <button class="dropdown-item" href="javascript:void(0)" (click)="printArticles()">Imprimer</button>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">

          <thead>
            <th>Code</th>
            <th>Désignation</th>
            <th>Quantité</th>
            <th>Prix unitaire HT</th>
            <th>Catégorie</th>
            <th>État du stock</th>
            <th>Modifier</th>
            <th>Supprimer</th>
          </thead>

          <tbody *ngIf="articles">
            <tr *ngFor="let article of articles| slice: pageSize | slice: 0:itemsPerPage">
              <td>{{ article.codeProduit }}</td>
              <td>{{ article.designation }}</td>
              <td>{{ article.quantite }}</td>
              <td>{{ article.prixUnitaireHT }}</td>
              <td>{{ article.categorie }}</td>

              <td *ngIf="article.quantite > 0"><fa name="check"></fa></td>
              <td *ngIf="article.quantite == 0"><fa name="exclamation-triangle"></fa></td>

              <td><button class="btn btn-outline-success btn-xs" (click)="edit(article)">Modifer</button></td>
              <td><button class="btn btn-outline-danger btn-xs" (click)="delete(article)">Supprimer</button></td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination [collectionSize]="articles.length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>

      </div>
    </div>
  </div>
</div>
