
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifier le produit</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #articleForm="ngForm">
      <div class="container">
        <label for="codeProduit"><b>Code produit</b></label>
        <input type="text" [(ngModel)]="article.codeProduit" name="codeProduit" required>

        <label for="designation"><b>Désignation</b></label>
        <input type="text" [(ngModel)]="article.designation" name="designation" required>

        <label for="quantite"><b>Quantité</b></label>
        <input type="text" [(ngModel)]="article.quantite" name="quantite" required>

        <label for="pht"><b>Prix unitaire HT</b></label>
        <input type="text" [(ngModel)]="article.prixUnitaireHT" name="pht" required>

        <label for="categorie"><b>Catégorie</b></label>
        <select type="categorie" [(ngModel)]="article.categorie" name="categorie" class="form-control">
          <option *ngFor="let category of listCategory" value="{{category.designation}}">
            {{category.designation}}
          </option>
        </select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <div class="clearfix">
      <button type="button" class="cancelbtn" (click)="activeModal.close('Close click')">cancel</button>
      <button type="submit" class="signupbtn" (click)="editArticle(article,articleForm)">Sauvegarder</button>
    </div>
  </div>
