<div>
<app-navbar></app-navbar>

 <ngb-tabset>

  <ngb-tab>
    <ng-template ngbTabTitle><b>Articles</b></ng-template>
    <ng-template ngbTabContent>
      <app-list-articles></app-list-articles>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><b>Utilisateurs</b></ng-template>
    <ng-template ngbTabContent>
      <app-list-users></app-list-users>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><b>Inventaires</b></ng-template>
    <ng-template ngbTabContent>
      <p>Inventaires works</p>
    </ng-template>
  </ngb-tab>

</ngb-tabset>
</div>
